@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


/* -------------------------------------------------------------------------- */
/*                           GENERIC ELEMENT STYLES                           */
/* -------------------------------------------------------------------------- */
body, html, button {
  /* font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; */
  font-family: 'Calibri', 'Helvetica Neue', sans-serif;
  margin: 0;
}

body {
  height: 100vh;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.hyperlink {
  color: rgba(46, 107, 201);
}

input {
  display: block;
}

button {
  border: none;
}

ul {
  padding: 0;
}

/* -------------------------------------------------------------------------- */
/*                                   CLASSES                                  */
/* -------------------------------------------------------------------------- */

#page-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
/* color: rgba(160, 176, 200); */

}

#hero-image-wrapper {
  /* width: 50%; */
  height: 100%;
  position: absolute;
  z-index: 1;
}

#hero-image {
  /* width: 50%; */
  height: 100%;
  position: absolute;
  z-index: 1;
}

#overlay {
  position: absolute;
  /* background-color: green; */
  /* opacity: 10%; */
  width: 700px;
  height: 300px;
  left: 41%;
  top: 26%;
  z-index: 2;
}

#major-text-section {
  color: rgba(181, 56, 140);
  font-weight: 500;
  font-size: 120px;
  line-height: 1.0em;

  /* background-color: yellow; */
}

#minor-text-section {
  color: black;
  font-weight: 500;
  font-size: 60px;
  line-height: 1.1em;

  /* background-color: green; */
}
