@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* 
Site Color Palette:

blue: rgba(19,10,62,1);
red: rgba(255,0,0,1);
reefly coral: rgba(236,90,80,1);
light-coral: rgba(255,110,110,1);

white: white;
black: black;
light-grey: rgb(196, 196, 196);
ghostly-white: rgb(243, 243, 247);
*/

/* -------------------------------------------------------------------------- */
/*                           GENERIC ELEMENT STYLES                           */
/* -------------------------------------------------------------------------- */
body, html, button {
  font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.hyperlink {
  color: rgba(46, 107, 201);
}

input {
  display: block;
}

button {
  border: none;
}

ul {
  padding: 0;
}

/* -------------------------------------------------------------------------- */
/*                                   CLASSES                                  */
/* -------------------------------------------------------------------------- */

/* ------------------------- NAVIGATION COLOR THEME ------------------------- */
.navbar, .navbar-mobile {
  background-color: white;
  color: black;
}

.footer {
  background-color: rgba(19,10,62,1);
  color: white;
}

.nav-logo-text {
  font-weight: 900;
  color: rgba(236,90,80,1);
}

/* --------------------------------- NAVBAR --------------------------------- */
.navbar {
  margin: 0;
  /* background-color: rgb(0, 26, 70); */
  width: 100%;
  /* box-shadow: 0px 1px 3px rgb(0, 0, 0, 0.2); */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-item {
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 500;

  /* display: inline-block; */
  list-style: none;
}

.nav{
  width: 100%;
  display: flex;
}

.navbar-links {
  padding: 0;
  /* overflow: hidden; */
  display: none;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-links-right {
  display: none;
  padding: 0;
  margin-left: auto;
  margin-right: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-link {
  /* padding-top: auto;
  padding-bottom: auto; */
  text-align: center;
  font-size: 22px;
  /* height: 30px; */
}

.navbar-underlined {
  text-decoration: underline solid 3px rgba(236,90,80,1);
  text-underline-offset: 2px;
}

.btn {
  font-size: 24px;
  background-color: rgba(236,90,80,1); 

  color: white;
  padding: 17px;
  width: 260px;

  font-weight: 600;
  border-radius: 48px;
  display: block;
  text-align: center;
  /* width: fit-content; */
  cursor: pointer;
}

.btn-sml {
  font-size: 19px;
  padding: 8px;
  width: 115px;
}

.btn:hover {
  filter: brightness(90%);
}

.login-btn {
}

.hero-btn {
  margin-top: 15px;
}

.cta-btn {
  margin: 10px;
}

.apply-btn {
  margin-left: auto;
}

.navbar-link:hover {
  color: rgba(236,90,80,1);
  /* font-weight: 500; */
  /* text-decoration: underline solid 2px black; */
  /* text-decoration: underline solid 3px rgb(247, 83, 93); */
  /* box-shadow: inset 0 -4px rgb(247, 83, 93); */
  /* text-decoration: underline solid 3px;
  text-underline-offset: 3px; */

}

.navbar-link-active {
  /* box-shadow: inset 0 -4px rgb(247, 83, 93); */
  text-decoration: underline solid 3px;
  text-underline-offset: 3px;
}


.navbar-logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.nav-logo-img {
  /* padding-top: 5px; */
  height: 45px;
}

.nav-logo-text {
  font-size: 35px;
  padding-left: 10px;
  font-weight: 700;
}

.navbar-logo-wrapper:hover {
  filter: brightness(90%);
}

.navbar-toggle {
  display: block;
  margin-left: auto;
  border: 0px;
  background-color: inherit;
  cursor: pointer;
}

.navbar-open {
  margin-left: auto;
  padding-left: 26px;
  padding-right: 26px;
}

.navbar-open-hidden {
  display: none;
}

.nav-toggle-img {
  height: 25px;
}

.navbar-header {
  display: flex;
  flex-direction: row;
  width: 100%;
}


/* ------------------------------ MOBILE NAVBAR ----------------------------- */
.navbar-mobile {
  /* Sizing */
  margin: 0;
  border: 0;
  /* border: solid 2px red; */
  /* width: 70%; */
  height: 100%;
  padding-right: 5%;

  /* Internal display settings */
  display: flex;
  flex-direction: column;
  justify-content: left; 
  
  /* Positioning */
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 100%;
}

.navbar-mobile-opening {
  left: 100%;
  width: 0;
  visibility: hidden;
  animation: slide-in-right 0.5s forwards;
}
@keyframes slide-in-right {
  10% {
    width: 70%;
  }
  100% {
    left: 25%;
    width: 70%;
    visibility: visible;
    box-shadow: -1px 0px 20px rgb(0, 0, 0, 0.2);
  }
}


.navbar-mobile-closing {
  left: 25%;
  width: 70%;
  visibility: visible;
  animation: slide-out-right 0.5s forwards;
}
@keyframes slide-out-right {
  90% {
    width: 70%;
    visibility: hidden;
  }
  100% {
    left: 100%;
    width: 0;
    visibility: hidden;
    box-shadow: none;
  }
}

.navbar-close {
  padding-left: 31px;
  padding-right: 31px;
  padding-top: 23px;
  padding-bottom: 5px;
}

.navbar-links-mobile {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
}

.navbar-link-mobile {
  padding-top: 14px;
  padding-bottom: 8px;
  text-align: left;
  font-size: 22px;
  color: inherit;
}

.navbar-mobile-btn-cluster {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.navbar-mobile-btn-cluster a {
  margin-right: 0;
  padding: 8px;
}

/* Animations to dim/undim the content under the mobile navbar as it opens/closes*/
.dimmed {
  animation: dim-under-mobile-nav 0.5s forwards;
}
@keyframes dim-under-mobile-nav{
  0% {filter: brightness(100%);}
  100% {filter: brightness(80%);}
}

.undimmed {
  animation: undim-under-mobile-nav 0.5s forwards;
}
@keyframes undim-under-mobile-nav {
  0% {filter: brightness(80%);}
  100% {filter: brightness(100%);}
}

.no-animation {
  animation: none;
}



/* Desktop Mode */
@media only screen and (min-width: 920px) {
  .navbar-open {
    display: none;
  }
  
  .navbar-links {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navbar-links-right {
    display: flex;
    align-items: center;
  }

  .navbar-mobile {
    display: none;
  }
}

/* ------------------------------ MAIN SECTION ------------------------------ */
.content {
  background-color: white;
  min-height: 93vh;
}


/* ---------------------------- PAGE TYPE WRAPPER --------------------------- */
.guttered-page {
  padding-top: 20px;
  padding-right: 10%;
  padding-bottom: 20px;
  padding-left: 10%;
}


/* --------------------------------- FOOTER --------------------------------- */
.footer {
  display: block;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-wrapper {
  width: 100;
  padding-left: 10%;
  padding-right: 10%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;
}

.col1, .col2, .col3 {
  width: auto;
}

/* Desktop Mode */
@media only screen and (min-width: 920px) {
  .footer-wrapper {
    flex-direction: row;
  }

  .col1 {
    width: 20%;
  }
  
  .col2 {
    width: 25%;
  }
  
  .col3 {
    width: 30%;
  }
}

.footer-item {
  padding: 20px 0px;
  font-size: 14px;
}


/* -------------------------------------------------------------------------- */
/*                          HOMEPAGE CONTENT STYLING                          */
/* -------------------------------------------------------------------------- */

/* ------------------------------ HERO SECTION ------------------------------ */
.hero-video-section {
  width: 100%;
  height: 95vh;
  position: relative;
  overflow: hidden;
}

.hero-image-section {
  width: 100%;
  height: 40vh;
  position: relative;
  overflow: hidden;
}

.hero-video-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}


.hero-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hero-image {
  min-width: 100%;
  min-height: 100%;
  flex-shrink: 0;
  filter: brightness(50%);
}

.hero-video {
  min-width: 100%;
  min-height: 100%;
  flex-shrink: 0;
}

.hero-video-overlay {
  position: absolute;
  z-index: 6;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.hero-video-text {
  color: white;
  font-size: 2.5em;
  font-weight: 600;
  text-align: center;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-image-overlay {
  position: absolute;
  z-index: 6;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-left: 0;
  width: 100%;
  height: 40vh;
}

.hero-image-text {
  color: white;
  font-size: 3em;
  font-weight: 400;
  text-align: center;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Tablet Mode */
@media only screen and (min-width: 500px) {
  .hero-video-text {
    font-size: 4em;
  }

  .hero-image-text {
    font-size: 3em;
  }
}

/* Desktop Mode */
@media only screen and (min-width: 920px) {
  .hero-image {
    flex-shrink: 0;
  }

  .hero-video {
    min-width: 100%;
    min-height: 100%;
    max-height: 106%;
    flex-shrink: 0;
  }

  .hero-video-overlay {
    justify-content: left;
    align-items: flex-start;

    width: 50%;
    margin-top: 400px;
    margin-left: 50%;
  }

  .hero-video-text {
    color: white;
    text-align: left;
    align-items: flex-start;
    /* font-size: 4em; */
    width: 80%;
  }

  .hero-image-overlay {
    justify-content: left;
    align-items: flex-start;

    width: 50%;
    margin-top: 200px;
    margin-left: 50%;
  }

  .hero-image-text {
    color: white;
    text-align: left;
    align-items: flex-start;
    font-size: 4em;
    width: 80%;
  }
}

/* -------------------------- SIDE-BY-SIDE SECTION -------------------------- */
.side-by-side-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.side-by-side-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.side-by-side-row-reverse {
  flex-direction: column-reverse;
}


.side-by-side-column {
  margin: 0px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 0.5rem;
}

.side-by-side-column-icon-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.side-by-side-column-icon {
  width: 80%;
  z-index: 1;
}


.side-by-side-column-abstract-wrapper {
  background-color: rgba(236,90,80,1);
  width: 80%;
  aspect-ratio: 3 / 4;
  position: relative;
}

.side-by-side-column-abstract {
  position: absolute;
  height: 101%;
  width: 101%;
  top: -1px;
  left: -1px;
}

.side-by-side-column-textarea {
  text-align: left;
  padding-bottom: 50px;
}

.side-by-side-column-textarea h2 {
  font-size: 4.5em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.side-by-side-column-textarea p {
  font-size: 2em;
  color: grey;
  line-height: 1.5em;
}

.side-by-side-column-textarea ul {
  font-size: 2em;
  list-style: none;
  padding-left: 30px;
  margin-bottom: 30px;
}

.side-by-side-column-textarea li {
  padding-top: 0px;
  padding-bottom: 0px;
}

.side-by-side-column-textarea ul li::before {
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  
  color: rgba(236,90,80,1);
  content: "\2022";
  
  font-size: 1.3em;
  font-weight: 900;
}

/* Tablet Mode */
@media only screen and (min-width: 920px) {
  .side-by-side-row {
    flex-direction: row;
  }

  .side-by-side-row-reverse {
    /* For the 2nd side-by-side row */
    flex-direction: row;
  }
  

  .side-by-side-column-abstract-wrapper {
    width: 85%;
  }

  .side-by-side-column {
    margin: 5px;
    width: 45%;
    font-size: 1rem;
  }

  .side-by-side-column-textarea h2 {
    margin-top: 60px;
    margin-bottom: 30px;
  }
  
  .side-by-side-column-textarea ul {
    padding-left: 60px;
    margin-bottom: 50px;
  }

  .side-by-side-column-textarea li {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/* Desktop Mode */
@media only screen and (min-width: 1400px) {
  .side-by-side-column {
    margin: 10px;
    width: 35%;
  }
}

/* -------------------------- TESTIMONIALS SECTION -------------------------- */
.testimonials-section {
  margin-bottom: 100px;
}

.testimonials-wrapper {
  font-size: 0.6em;
  position: relative;

  width: 100%;
  aspect-ratio: 1 / 1;
}

.testimonial-column {
  margin: 0px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials-section .side-by-side-row {
  flex-direction: column-reverse;
}

.testimonials-section .testimonial-column:nth-child(2) {
  padding-left: 0%;
  width: 90%;
  text-align: center;
  padding-bottom: 20px;
  
  color: rgba(236,90,80,1);
  font-size: 2em;
  font-weight: 600;
}


/* Bigger Phone mode */
@media only screen and (min-width: 600px) {
  .testimonials-wrapper {
    font-size: 0.9em;
  }

  .testimonials-section .testimonial-column:nth-child(2) {
    font-size: 3em;
  }
}

@media only screen and (min-width: 920px) {
  .testimonials-wrapper {
    font-size: 1em;
  }
}

/* Desktop mode */
@media only screen and (min-width: 1060px) {
  .testimonials-wrapper {
    margin-left: 30%;
  }

  .testimonials-section .side-by-side-row {
    flex-direction: row;
  }

  .testimonial-column {
    margin: 5px;
    width: 45%;
  }

  .testimonials-section .testimonial-column:nth-child(2) {
    padding-left: 10%;
    width: 40%;
    text-align: left;
    font-size: 4.5em;
  }
}

.test-card {
  position: absolute;

  width: 54%;
  height: 45%;

  background-color: white;
  border: 4px solid rgb(239, 239, 239);
  border-radius: 7px;

  transition: all 0.8s ease;
  transform-style: preserve-3d;
}

#test-card-3 {
  left: 0%;
  top: 0%;
}

#test-card-2 {
  left: 45%;
  top: 30%;
}

#test-card-1 {
  left: 10%;
  bottom: 0%;
}

.front {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;

  color: black;
  backface-visibility: hidden;
}

.back {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.back h1 {
  padding-left: 10%;
  padding-right: 10%;
  color: rgba(236,90,80,1);
}

.back p {
  padding-left: 10%;
  padding-right: 10%;
  color: black;
}

.card-flipped {
  transform: rotateY(180deg);
  color: rgba(236,90,80,1);
}

/* ------------------------------- TRIPLE ICON ------------------------------ */


.triple-icon-section {
  background-color: rgb(243, 243, 247);

  padding-top: 40px;
  padding-bottom: 40px;
}

.triple-icon-section h1 {
  text-align: center;
  /* color: white; */

  font-weight: 800;
  font-size: 1.8em;
}

.triple-icon-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.triple-icon-column {
  background-color: white;
  font-size: 1.2em;


  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  width: 60%;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.triple-icon-icon-wrapper {
  max-width: 70%;
  max-height: 70%;
  margin-bottom: 5%;
}

.triple-icon-icon {
  max-width: 100%;
  max-height: 100%;
}

.triple-icon-text {
  height: 20%;
}


/* Desktop mode */
@media only screen and (min-width: 920px) {
  .triple-icon-group {
    flex-direction: row;
  }

  .triple-icon-column {
    width: 25%;
    height: 400px;
  }

  .triple-icon-section h1 {
    font-size: 2.3em;
  }

  .triple-icon-column {
    font-size: 2em;
  }

}

/* ------------------------------- CTA SECTION ------------------------------ */
.cta-section {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cta-main-text {
  margin: 10px;
  width: 95%;
  font-size: 1.8em;
  text-align: center;
}

.cta-subtitle {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 0.8em;
  color: grey;
  text-align: center;
}

/* Desktop mode */
@media only screen and (min-width: 920px) {
  .cta-main-text {
    font-size: 3em;
    width: 60%;
  }

  .cta-subtitle {
    font-size: 1.5em;
  }
}


/* ----------------------------- MISSION SECTION ---------------------------- */
.mission-section {
  padding-top: 70px;
  padding-bottom: 70px;

  padding-left: 15%;
  padding-right: 15%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mission-section h2 {
  font-size: 1.8em;
}

.mission-section p {
  width: 100%;
  font-size: 1.2em;
  color: grey;
}

/* Desktop mode */
@media only screen and (min-width: 920px) {
  .mission-section h2 {
    font-size: 2.5em;
  }

  .mission-section p {
    width: 70%;
    font-size: 2em;
  }
}

/* ---------------------------- FOUNDERS SECTION ---------------------------- */
.founders-section {
  padding-top: 10px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.founders-section h1{
  font-size: 1.8em;
  color: black;
  margin-bottom: 40px;
}

.founders-section p {
  text-align: center;
  width: 70%;
  font-size: 1.2em;
  color: grey;
  margin-top: 0px;
  margin-bottom: 40px;
}

.founders-photoboard{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.founder-card {
  margin: 30px;
}

.founder-name {
  font-weight: 700;
  font-size: 20px;
}

.founder-title {
  font-weight: 500;
  font-size: 16px;
  color: #1c1825;
  opacity: 0.7;
}

.founder-photo{
  width: 100%;
  border-radius: 0.5rem;
}

@media only screen and (min-width: 450px) {
  .founder-photo{
    width: 350px;
  }
}

/* Desktop mode */
@media only screen and (min-width: 920px) {
  .founders-section h1{
    font-size: 3em;
  }

  .founders-section p {
    font-size: 2em;
  }
}

/* ---------------------------- INVESTORS SECTION --------------------------- */
.investors-section {
  background-color: rgb(243, 243, 247);
  padding-top: 30px;
  padding-bottom: 30px;
}

.investors-section h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 5px;
}

.investors-photoboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 2%;
  padding-right: 2%;
}

.investor-logo {
  width: 25%;
  margin: 2%;
}

/* Desktop Mode */
@media only screen and (min-width: 920px) {
  .investor-logo {
    width: 12%;
  }
}

/* Desktop Mode */
@media only screen and (min-width: 1700px) {
  .investor-logo {
    width: 8%;
  }
}


/* -------------------------- WORK CULTURE SECTION -------------------------- */
.work-culture-section {
  background-color: rgb(243, 243, 247);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;

  font-size: 1.4em;
}

.work-culture-col {
  width: 80%;
  padding: 3%;
}

.work-culture-col h2 {
  font-size: 1.6em;
}

.work-culture-blurb {

}

.benefits-list {
  padding: 0;
}

.benefit-card {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 15px;
}

.benefit-icon-wrapper {
  background-color: rgba(236,90,80,1);
  border-radius: 100px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.benefit-icon {
  max-width: 50%;
  max-height: 50%;
}

.benefit-blurb {
  width: 70%;
}

/* Tablet Mode */
@media only screen and (min-width: 1000px) {
  .work-culture-section {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .work-culture-col {
    width: 35%;
  }

  .benefit-icon-wrapper {
    height: 80px;
    width: 80px;
  }
  
  .benefit-blurb {
    width: auto;
  }
}

/* Desktop Mode */
@media only screen and (min-width: 1300px) {
  .work-culture-section {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .work-culture-col {
    width: 30%;
  }
}

/* ------------------------------ JOBS SECTION ------------------------------ */
.jobs-section {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;

  padding-left: 2.5%;
  padding-right: 2.5%;
}

.jobs-section h2 {
  text-align: center;
  font-size: 2.5em;
}

.jobs-list {
  height: 400px;
  overflow: scroll;
  padding-left: 25px;
  padding-right: 25px;
}

.job-card {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  font-size: 0.6rem;
}

.job-card .btn {
  font-size: 0.6rem;
  width: 60px;
}

.job-info-wrapper {
  width: 65%;
}

.job-title {
  font-size: 1.3em;
  margin-bottom: 10px;
}

.job-info-row {
  display: flex;
}

.job-location {
  width: 45%;
}

.job-team {
  width: 55%;
}

.jobs-extra {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Desktop Mode */
@media only screen and (min-width: 920px) {
  .jobs-section {
    padding-left: 20%;
    padding-right: 20%;
  }

  .job-card {
    font-size: 1rem;
  }

  .job-info-wrapper {
    width: 50%;
  }

  .job-location {
    width: 50%;
  }
  
  .job-team {
    width: 50%;
  }
  
  .job-card .btn {
    font-size: 1rem;
    width: 115px;
  }
}

/* ------------------------------ FORM SECTION ------------------------------ */
.form-section {
  margin-top: 5vh;
  margin-bottom: 10vh;
  margin-left: 5%;
  margin-right: 5%;

  border: 4px solid rgb(239, 239, 239);
  border-radius: 7px;

  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 6%;
  padding-right: 6%;

  font-size: 1.2em;
}

.form-section h1 {
  font-size: 1.6em;
  font-weight: 800;
}

.form-field {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.field-textbox {
  border: 2px solid rgb(196, 196, 196);
  border-radius: 7px;

  padding: 12px;
  padding-left: 16px;
  margin-top: 10px;

  font-size: 0.8em;
}

.field-textbox-invalid {
  background-color: rgb(255, 128, 128);
}

.invalid-msg {
  color: red;
}

.invalid-msg-hidden {
  display: none;
}

.form-btn-wrapper {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Desktop Mode */
@media only screen and (min-width: 920px) {
  .form-section {
    margin-left: 23%;
    margin-right: 23%;

    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 3%;
    padding-right: 3%;
  }
}


/* -------------------------- IMPACT GOALS SECTION -------------------------- */
#impact-goals-section {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 3px solid rgb(243, 243, 247);
  border-bottom: 3px solid rgb(243, 243, 247);
}

#impact-goals-section h1 {
  font-size: 3em;
  text-align: center;
}

#impact-goals-section .side-by-side-column-textarea h2 {
  font-size: 2.5em;
}

#impact-goals-section img {
  width: 90%;
  margin-right: 10%;
  border-radius: 30px;
  margin-bottom: 15px;
}

/* ---------------------------- NEWS MENU SECTION --------------------------- */

.press-menu-section {
  background-color: rgba(236,90,80,1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;
  font-weight: 600;

  min-height: 80px;
  color: white;
}

.press-menu-group {
  display: flex;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  height: 44px;
}

.dropdown-menu-container {
  position: relative;
  margin-left: 20px;
}

.dropdown-menu-button {
  background-color: rgba(236,90,80,1);
  border: 2px solid white;
  border-radius: 20px;
  
  font-size: 1em;
  font-weight: 400;
  color: white;

  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5px;
  padding-left: 20px;

  position:relative;
  z-index: 4;
  cursor: pointer;
  width:  230px;
}

.dropdown-menu {
  background-color: rgba(236,90,80,1);
  top: -16px;
  left: 0px;
  position: absolute;
  z-index: 1;

  width: 186px;
  border-radius: 22px;
  border: 2px solid white;
  padding-top: 55px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;

  list-style-type: none;  
  display: flex;
  flex-direction: column;
  align-items: left;
}

.dropdown-menu li {
  padding: 5px;
  cursor: pointer;
}

.dropdown-icon {
  width: 30px;
  margin-left: auto;
}

.download-icon {
  width: 30px;
  padding-right: 8px;
}

/* Desktop Mode */
@media only screen and (min-width: 920px) {
  .press-menu-section {
    flex-direction: row;
    padding: 0px;
  }

  .press-menu-group {
    padding-top: 0;
    padding-bottom: 0;
  }
}

/* --------------------------- NEWS POSTS SECTION --------------------------- */
.news-posts-section {
  background-color: rgb(243, 243, 247);
  padding: 7% 7% 7% 7%;
}

.posts-container {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  column-gap: 2.5%;
  row-gap: 100px;
}

.news-posts-section-liner {
  background-color: white;
  border-radius: 20px;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-card {
  height: 300px;
  padding-top: 0px;
  padding-bottom: 80px;
  position: relative;

  font-size: 0.8rem;
}

/* A class to hide posts that havent been loaded yet */
.post-card-hidden {
  display: none;
}

/* A separate class so we can know what classes have been filtered out on purpose */
.post-card-filtered {
  display: none;
}

/* .post-card:nth-of-type(3n + 1), .post-card:nth-of-type(3n + 2){ */
.post-card {
    padding-right: 7.692307692307693%;
}

.post-card-bordered {
  border-bottom: 2px solid rgba(236,90,80,1);
  border-right: 0;
}

.post-card-liner {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;

  padding: 5%;
  border-radius: 10px;
}
.post-date {
  font-size: 1.2em;
  font-weight: 700;
}

.post-title {
  font-size: 2.5em;
  margin-top: 20px;
  font-weight: 300;
}

.post-source {
  font-size: 1.2em;
  font-weight: 700;
  margin-top: auto;
}

.news-posts-section button {
  margin-top: 10px;
}

.news-extra {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
  font-size: 1.5em;
}

.news-extra h2 {
  margin-top: 80px;
  margin-bottom: 0px;
}

.news-extra p {
  margin-bottom: 0px;
}


/* Desktop Mode */
@media only screen and (min-width: 1300px) {
  .posts-container {
    grid-template-columns: 32.4% 32.4% 30%;
    grid-template-rows: auto auto auto;
  }

  .post-card {
    height: 500px;
  }

  .post-card-bordered {
    border-bottom: 0;
    border-right: 2px solid rgba(236,90,80,1);
  }

  .news-posts-section button {
    margin-top: 80px;
  }
}

/* --------------------------- SIGNUP SUCCESS PAGE -------------------------- */
.success-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 94vh;
  justify-content: center;
  align-items: center;
}

.success-section h1 {
  font-size: 3em;
  margin-left: 10%;
  margin-right: 10%;
  color: rgba(236,90,80,1);
}

.success-section h3 {
  font-size: 1em;
  margin-left: 10%;
  margin-right: 10%; text-align: center;
}

/* Desktop Mode */
@media only screen and (min-width: 1300px) {
  .success-section h1 {
    font-size: 5em;
  }
  
  .success-section h3 {
    font-size: 2.5em;
  }
}  